#
# Environment Variables
#
VM_PROJECT_CSV="1-vm-protect.example.csv"

# VM Snapshot Settings
VM_SNAPSHOT_POSTFIX="snapshot-YYYYMMDD-HHMM"

# VAULT Settings
VAULT_SUBSCRIPTION="your-subscription-id-or-name"
VAULT_RESOURCE_GROUP_NAME="your-resource-group-name"
VAULT_NAME="your-vault-name"
VAULT_BACKUP_POLICY="your-backup-policy"

DEBUG_MODE=false # true | false